<!DOCTYPE HTML>
<html>
<head>
    <title>View Course</title>
</head>
<body>
    <h1>{{ c.code }} : {{ c.title }}</h1>
    <h3><i>{{ c.abbr }}</i></h3>
    <h3>{{ c.faculty.name }}, {{ c.university.name }}</h3>
    <p>Description: {{ c.description }}</p>

    {% if resources %}
        <ul>
            {% for resource in resources %}
                <li><a href="{{ resource.docfile.url }}">{{ resource.docfile.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No documents.</p>
    {% endif %}

    <form action="/course/{{ c.id }}/upLink" method="post" >
        {% csrf_token %}
        {{ upLinkForm.as_p }}
        <input type="submit" value="Post Link" />
    </form>

    <form action="/course/{{ c.id }}/uploadFile" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{{ upFileForm.non_filed_errors }}</p>
        <p>{{ upFileForm.name.label_tag }}: {{ upFileForm.name }}</p>
        <p>{{ upFileForm.description.label_tag }}: {{ upFileForm.description }}</p>
        <p>{{ upFileForm.docfile.label_tag }} {{ upFileForm.docfile.help_text }}</p>
        <p>
        {{ upFileForm.docfile.errors }}
        {{ upFileForm.docfile }}
        </p>
        <p> <input type="submit" value="Upload File" /> </p>
    </form>
</body>
</html>